<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
http://www.springframework.org/schema/context
http://www.springframework.org/schema/context/spring-context-3.0.xsd">


	<bean class="org.springframework.web.servlet.handler.SimpleUrlHandlerMapping">
		   <property name="mappings">
			<props>
			   <prop key="/contactList.html">listContact</prop>
			   <prop key="/ajouterContactAction.html">ajouterContactAction</prop>
			   <prop key="/ajouterAdresseAction.html">ajouterAdresseAction</prop>
			   <prop key="/ajouterContactForm.html">ajouterContactForm</prop>
			   <prop key="/rudContactAction.html">rudContactController</prop>
			   <prop key="/deleteAdresseAction.html">deleteAdresseController</prop>		  
			 </props>
		   </property>
	</bean>
	
	<bean id="contactAdresses" class="org.springframework.web.servlet.view.RedirectView">
		<property name="url" value="contactAdresses.html" />
	 </bean>
	 
	<bean id="ajouterContactForm" class="com.gestioncontact.controller.AddContactController">	
	</bean>
	
	<bean id="rudContactController" class="com.gestioncontact.controller.RudContactController">
		<property name="contactService" ref="contactService"/>
		<property name="adresseService" ref="adresseService"/>
	</bean>
	
	
	<bean id="listContact" class="com.gestioncontact.controller.ListContactController">
		<property name="contactService" ref="contactService"/>
	</bean>
	
	<bean id="deleteAdresseController" class="com.gestioncontact.controller.DeleteAdresseController">
		<property name="adresseService" ref="adresseService"/>	
	</bean>
	
	<bean id="ajouterContactAction" class="com.gestioncontact.controller.ContactFormController">
		<property name="contactService" ref="contactService"/>
		<property name="successView" value="contactList"/>
		<property name="commandClass" value="com.gestioncontact.modele.Contact"/>
		<property name="commandName" value="contactForm"/>
		<property name="formView" value="ajouterContactForm"/>
		<property name="sessionForm" value="true"/>
		<property name="validator">
			<bean class="com.gestioncontact.validator.ContactFormValidator"/>
		</property>	
	</bean>
	
	<bean id="ajouterAdresseAction" class="com.gestioncontact.controller.AdresseFormController">
		<property name="adresseService" ref="adresseService"/>
		<property name="successView" value="contactAdresses"/>
		<property name="commandClass" value="com.gestioncontact.modele.Adresse"/>
		<property name="commandName" value="adresseForm"/>
		<property name="formView" value="contactAdresses"/>
		<property name="sessionForm" value="true"/>
		<property name="validator">
			<bean class="com.gestioncontact.validator.AdresseFormValidator"/>
		</property>	
		
	</bean>
	
	<bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>

</beans>